<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>JsonAPI</title>
		<link href="{{ url_for('static', filename='css/all.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">

		<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/i.png') }}" />
    </head>
    <body>
		<div class="wrapper">
			<div class="container-fluid">
				<header class="site-header">
					<div class="site-title"><a href="">Json API</a></div>
					<div class="site-slogan">Testare API</div>
					<div class="rw-ui-container"></div>
				</header>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<form class="form-horizontal" method="get" action="api/" id="test-form">
									<div class="form-group">
										<div class="input-group input-test">
											<div class="input-group-addon">{{ request.base_url }}api/</div>
											<input type="text" class="form-control" name="parameters" id="parameters" placeholder="?search=NAME&column=title" value="?search=cactus&column=title">
										</div>
									</div>
									<div class="form-group">
										<center>
											<button type="submit" class="btn btn-primary">Afișează rezultatul</button>
											<a class="btn btn-primary" href="/register" name="submit" target="_blank">Generează o cheie de acces</a>
										</center>
									</div>
								</form>
								<div class="panel-group" role="tablist">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="collapseListGroupHeadingAPI">
											<h4 class="panel-title">
										  <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListAPI" aria-expanded="false" aria-controls="collapseListAPI">
											Parametrii API disponibili
										  </a>
										</h4>
										</div>
										<div id="collapseListAPI" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeadingAPI" aria-expanded="false" style="height: 0px;">
											<ul class="list-group">
												<li class="list-group-item">
													<table class="table table-hover api-parameters">
														<thead>
															<tr>
																<th class="col-md-2">Parametru</th>
																<th class="col-md-2">Valoare implicită</th>
																<th class="col-md-4">Tipul valorii</th>
																<th class="col-md-4">Descriere</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<th scope="row">?action=</th>
																<td><kbd>search</kbd></td>
																<td>search | delete | add</td>
																<td>Acțiunea pentru care API-ul este accesat.</td>
															</tr>
														</tbody>
													</table>
												</li>
												<li class="list-group-item">
													<p class="api-p">Parametrii pentru <kbd>?action=search</kbd>:</p>
													<table class="table table-hover api-parameters">
														<thead>
															<tr>
																<th class="col-md-2">Parametru</th>
																<th class="col-md-2">Valoare implicită</th>
																<th class="col-md-4">Tipul valorii</th>
																<th class="col-md-4">Descriere</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<th scope="row">?search=</th>
																<td><kbd>NULL</kbd></td>
																<td>String</td>
																<td>Un cuvânt care să fie căutat.</td>
															</tr>
															<tr>
																<th scope="row">?key=</th>
																<td><kbd>NULL</kbd></td>
																<td>String</td>
																<td>Cheia de acces primită prin email. Accesul printr-o cheie proprie oferă mai multe facilitățo. Poți crea una <a href="/register" target="_blank">aici</a>.</td>
															</tr>
															<tr>
																<th scope="row">?key_search=</th>
																<td><kbd>0</kbd></td>
																<td>1 | 0</td>
																<td>Poți căuta doar în înregistrările personale, bazate pe cheia de acces. (Funcțional doar pentru cei cu o cheie de acces validă.)</td>
															</tr>
															<tr>
																<th scope="row">?columns=</th>
																<td><kbd>Toate coloanele</kbd></td>
																<td>id | maker | img | url | title | description</td>
																<td>Coloanele în care se dorește căutarea cuvântului. Pentru a folosi mai multe, se va folosi delimitatorul <kbd>,</kbd>.<br>Ex. <kbd>title,description</kbd>.</td>
															</tr>
															<tr>
																<th scope="row">?limit=</th>
																<td><kbd>NULL</kbd></td>
																<td>INT</td>
																<td>Maximul de rezultate care vor fi afișate.</td>
															</tr>
															<tr>
																<th scope="row">?order_by=</th>
																<td><kbd>NULL</kbd></td>
																<td>id | maker | img | url | title | description | ratings</td>
																<td>Coloana după care se vor ordona rezultatele.</td>
															</tr>
															<tr>
																<th scope="row">?order=</th>
																<td><kbd>asc</kbd></td>
																<td>asc | desc</td>
																<td>Ordonarea rezultatelor, crescător sau descrescător.</td>
															</tr>
															<tr>
																<th scope="row">?download=</th>
																<td><kbd>0</kbd></td>
																<td>1 | 0</td>
																<td>Deascarcă rezultatele căutării într-un fișier <kbd>[CURRENT_TIME].json</kbd>.</td>
															</tr>
														</tbody>
													</table>
												</li>
												<li class="list-group-item">
													<p class="api-p">Parametrii pentru <kbd>?action=add</kbd>:</p>
													<table class="table table-hover api-parameters">
														<thead>
															<tr>
																<th class="col-md-2">Parametru</th>
																<th class="col-md-2">Obligatoriu</th>
																<th class="col-md-4">Tipul valorii</th>
																<th class="col-md-4">Descriere</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<th scope="row">?key=</th>
																<td><kbd>DA</kbd></td>
																<td>String</td>
																<td>Cheia de acces primită prin email. Poți crea una <a href="/register" target="_blank">aici</a>.</td>
															</tr>
															<tr>
																<th scope="row">?maker=</th>
																<td><kbd>NU</kbd></td>
																<td>String</td>
																<td>Autorul. Implicit va insera mailul cheii de acces.</td>
															</tr>
															<tr>
																<th scope="row">?img=</th>
																<td><kbd>DA</kbd></td>
																<td>String</td>
																<td>Link-ul imaginii reprezentative.</td>
															</tr>
															<tr>
																<th scope="row">?url=</th>
																<td><kbd>DA</kbd></td>
																<td>String</td>
																<td>Link-ul către pagina respectivă.</td>
															</tr>
															<tr>
																<th scope="row">?title=</th>
																<td><kbd>DA</kbd></td>
																<td>String</td>
																<td>Titlul înregistrarii.</td>
															</tr>
															<tr>
																<th scope="row">?description=</th>
																<td><kbd>NU</kbd></td>
																<td>String</td>
																<td>Descrierea înregistrarii.</td>
															</tr>
															<tr>
																<th scope="row">?ratings=</th>
																<td><kbd>NU</kbd></td>
																<td>Float list</td>
																<td>Sunt acceptate liste cu evaluări de tip <kbd>float</kbd>, valori separate print <kbd>,</kbd>.</td>
															</tr>
														</tbody>
													</table>
													<span>Exemplu:</span>
													<div class="form-group">
														<div class="input-group input-test">
															<div class="input-group-addon">http://127.0.0.1:8080/api/</div>
															<input type="text" class="form-control" name="parameters" value="?action=add&key=12345&amp;maker=Test&amp;img=https://i.imgur.com/nFHrmXV.png&amp;url=https://www.google.com/&amp;title=Test&amp;description=Acesta este un test&amp;ratings=1,4,5,5,3.4,1.2" readonly>
														</div>
													</div>
												</li>
												<li class="list-group-item">
													<p class="api-p">Parametrii pentru <kbd>?action=delete</kbd>:</p>
													<table class="table table-hover api-parameters">
														<thead>
															<tr>
																<th class="col-md-2">Parametru</th>
																<th class="col-md-2">Obligatoriu</th>
																<th class="col-md-4">Tipul valorii</th>
																<th class="col-md-4">Descriere</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<th scope="row">?key=</th>
																<td><kbd>DA</kbd></td>
																<td>String</td>
																<td>Cheia de acces primită prin email.</td>
															</tr>
															<tr>
																<th scope="row">?id=</th>
																<td><kbd>DA</kbd></td>
																<td>String</td>
																<td>Id-ul înregistrării pe care dorești să o ștergi.</td>
															</tr>
														</tbody>
													</table>
												</li>
											</ul>
											<div class="panel-footer">
												<a class="collapsed" role="button" data-toggle="collapse" href="#collapseListAPI" aria-expanded="false" aria-controls="collapseListAPI">
													Închide
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<pre class="language-json" id="response"><code class="language-json" id="response-content">{{ status }}</code></pre>
					</div>
				</div>
			</div>
		</div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		
		<script>
			$(document).ready(function() {
				$("#test-form").submit(function(event){
					event.preventDefault();
					var post_url = $(this).attr("action");
					var request_method = $(this).attr("method");
					var parameters = $("#parameters").val();
					$.ajax({
						url : post_url+parameters,
						type: request_method
					}).done(function(response) {
						$("#response").css("display", "block");
						$("#response-content").html(JSON.stringify(response, null, '\t'));
					});
				});
			});
		</script>
    </body>
</html>